.selectionLabel {
    display: flex;
    column-gap: 5px;
    align-items: center;
    width: fit-content;
    padding: 3px 7px;
    border-radius: var(--input-border-radius);
    background: #3A8AFB29;
    position: relative;
    transition: 0.2s;
    cursor: pointer;

    --warning-background: rgba(255, 164, 164, 0.291);
    --warning-foreground: rgb(255, 45, 45);
}

.selectionLabel * {
    cursor: pointer;
}

.selectionLabel:hover {
    background: var(--warning-background);
    transition: 0.2s;
}

.selectionLabel:hover label {
    color: var(--warning-foreground);
    transition: 0.2s;
}

.selectionLabel:hover svg {
    color: var(--warning-foreground);
    stroke: var(--warning-foreground);
    transition: 0.2s;
}

.selectionLabel label {
    color: var(--accent);
    font-weight: 500;
}

.selectionLabel svg {
    width: 9px;
    height: 9px;
    color: var(--accent);
    position: relative;
    top: 1px;
    cursor: pointer;
    stroke: var(--accent);
}